.colors button{
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.active{
  border: 1px solid black;
}

.Midnight{
  background-color: rgb(73, 65, 60);
}

.Blue{
  background-color: rgb(87, 120, 155);
}

.Red{
  background-color: rgb(150,19,24);
}

.Pink{
  background-color: rgb(240,219,211);
}

.Starlight{
  background-color: rgb(247,241,233);
}

.Green{
  background-color: rgb(41,56,39);
}