.colors button {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.active {
  border: 1px solid black;
}

.Midnight {
  background-color: rgb(73, 65, 60);
}

.Blue {
  background-color: rgb(87, 120, 155);
}

.Red {
  background-color: rgb(150, 19, 24);
}

.Pink {
  background-color: rgb(240, 219, 211);
}

.Starlight {
  background-color: rgb(247, 241, 233);
}

.Green {
  background-color: rgb(41, 56, 39);
}

.Gold {
  background-color: rgb(240, 216, 183);
}

.Silver {
  background-color: rgb(236, 238, 228);
}

.Graphite {
  background-color: rgb(64, 62, 59);
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 1rem;
  img {
    max-width: 200px;
    height: auto;
    grid-row: 1/3;
    align-self: center;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }

  h3 {
    transition: all 0.2s ease-in-out;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-Gold);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 200ms ease-in;
      box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
    }
  }
  h3:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  p {
    max-width: 50ch;
  }

  .colors {
    padding: 1rem 0;
  }
  .price {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
    font-weight: bold;
  }

  .item-addToCart {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    gap: 0.4rem;
    #addToCartButton {
      align-self: center;
    }
    #plusButton,
    #minusButton,
    input,
    #addToCartButton {
      min-width: 3ch;
      min-height: 3ch;
      height: auto;
      padding: 0.3em 0.5em;
      border-radius: 3px;
      align-self: center;
      border: 1px solid var(--color-Midnight);
      background-color: var(--color-Starlight);
      color: var(--color-Midnight);
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    }
  }
  input {
    width: 3ch;
  }
  button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -1ch;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-Midnight);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 200ms ease-in;
      box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
    }
    &:hover {
      * {
        transform: scale(1.05);
      }
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
